<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Frainz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3BA82A61EFA54BE00E64484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3BA82BA1EFA54BF00E64484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3BA82C51EFA54BF00E64484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
